body, html {
    background-color: #999;
}

div.root {
    margin-top: 30px;
    box-shadow: 14px 14px 0px #000;
    margin-bottom: 30px;
    background-color: #0B1C27;
}

section.header {
    background-image: url(/images/80s_grid.jpg);
    background-position: center;
    height: 470px;
}

.container {
    overflow: hidden;
}

ol.head-menu {
    list-style-type: none;
}

.main-logo {
    z-index: 11;
}

div#authors {
    padding-top: 10px;
    padding-bottom: 10px;
}

section#articles {
    padding-top: 150px;
    padding-bottom: 80px;
}

a.menu-button {
    z-index: 10;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 15pt;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 0px;
    height: unset;
    border: 0px;
    color: white;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

a.menu-button-1 { background-color: #238CCE; }
a.menu-button-2 { background-color: #979E1E; }
a.menu-button-3 { background-color: #FF8000; }
a.menu-button-4 { background-color: #F73D00; }
a.menu-button-5 { background-color: #E93587; }
a.menu-button-6 { background-color: #B82682; }
a.menu-button-7 { background-color: #4DB6F8; }

p.authors {
    font-family: 'Arvo', serif;
    color: white;
    line-height: 19pt;
}

p.authors a {
    text-decoration: underline;
}

.content {
    background-image: url(/images/80s_pattern.png);
}

section#articles h1 {
    padding: 0px !important;
    margin: 0px;
}
section#articles div.column {
    padding-top: 0px;
    padding-bottom: 0px;
}

section#articles {
    margin-bottom: 0px;
}

footer {
    background-color: #222 !important;
}


@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    section.header {
        background-image: url(/images/80s_grid@2x.jpg);
        background-position: center;
        height: 470px;
    }
    .content {
        background-image: url(/images/80s_pattern@2x.png);
    }
}
